<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<div layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>新商品登録（確認）</title>
    </head>
    <body>
    <h1>新商品登録（確認）</h1>
    <form th:action="@{/admin/product/add/complete}" method="get">
        <div>
            <p>商品名:<span th:text="${productForm.name}"></span></p>
            <p>単価:<span th:text="${productForm.price}"></span>円</p>
            <p>在庫数:<span th:text="${productForm.stock}"></span></p>
            <p>商品カテゴリ:<span th:text="${categoryName}"></span></p>
            <p>画像</p><img th:src="@{${imageFileName}}" alt="商品画像" style="max-width: 200px; max-height: 200px;" />
        </div>


          <div>
        <button type="submit" name="completeButton" >完了</button>
        <button type="button" onclick="history.back()">戻る</button>
         <button type="button" onclick="window.location.href='admin/products/add'">キャンセル</button>
        </div>
    </form>
    </body>
</div>
</html>