<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<div layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>新商品登録（入力）</title>
    <style>
    .error-message {
        color: red;
        font-size: 0.8em;
    }
    </style>
</head>
<body>
    <h1>新商品登録（入力）</h1>
    <form th:action="@{/admin/product/add/confirm}"  th:object="${productForm}" method ="post" enctype="multipart/form-data">
       
       <div>
        <label for = "name">商品名</label>：   <input type="text" id ="name" th:field="*{name}" />
        <p th:if="${#fields.hasErrors('name')}" class="error-message"></p>
        </div>

         <div>
        <label for = "price">単価</label>：   <input type="number" id ="price" th:field="*{price}" />
        <p th:if="${#fields.hasErrors('price')}" class="error-message"></p>
        </div>

        <div>
        <label for = "stock">在庫数</label>：   <input type="number" id ="stock" th:field="*{stock}" />
        <p th:if="${#fields.hasErrors('stock')}" class="error-message"></p>
        </div>

        <div>
        <label for = "category">商品カテゴリ</label>： 
         <select id ="category" th:field="*{categoryId}">
            <option value="" th:text="'選択してください'"></option>
            <option th:each="category : ${categoryList}"
                    th:value="${category.id}"
                    th:text="${category.name}">
                    カテゴリ名</option>
         </select>
        <p th:if="${#fields.hasErrors('categoryId')}" class="error-message"></p>
        </div>
           
         <div>
        <label for = "image">画像</label>：   <input type="file" id ="image" name = "imageURL" />
        <p th:if="${#fields.hasErrors('imageURL')}" class="error-message"></p>
        </div>
        
        <div>
        <button type="submit" name="completeButton" >完了</button>
        <button type="button" onclick="window.location.href='#'">キャンセル</button>
        </div>
    </form>

</body>
</div>
</html>